@page
@model AddRoomsModel
@{
    ViewData["Title"] = "Add Rooms";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to add rooms.</p>

<form method="post" asp-page-handler="Add">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Input.RoomName" class="control-label" placeholder="Please choose room name."></label>
    <input asp-for="Input.RoomName" class="form-control" placeholder="@Model.PlaceHolder" />
    <span asp-validation-for="Input.RoomName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Input.Capacity" class="control-label" placeholder="Please choose capacity."></label>
    <input asp-for="Input.Capacity" class="form-control" />
    <span asp-validation-for="Input.Capacity" class="text-danger"></span>
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}