@page
@model AddReservationsModel
@{
    ViewData["Title"] = "Add Reservations";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to add Reservations.</p>

<form method="post">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Reservation.ReserverName" class="control-label"></label>
    <input asp-for="Reservation.ReserverName" class="form-control" />
    <span asp-validation-for="Reservation.ReserverName" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Reservation.Room" class="control-label"></label>
    <select asp-for="Reservation.Room" class="form-control" id="PizzaSize">
        <option value="">-- Select Room --</option>
        @foreach (Room room in Model.roomList)
        {
            <option value="@room.RoomName">@room.RoomName</option>
        }
    </select>
    <span asp-validation-for="Reservation.Room" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Reservation.Date" class="control-label"></label>
<input class="form-control" asp-for="Reservation.Date" />
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>
</form>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}