@page
@using Microsoft.AspNetCore.Http
@model ReservationScheduleModel
@{
    ViewData["Title"] = "List Reservation";
}

<h1>@ViewData["Title"]</h1>
<p>Use this page to Schedule Reservation.</p>
<link rel="stylesheet" type="text/css" href="~/css/DPS.css">
<body>
    
    <table class="schedule-table">
        <thead>
            <tr class="table100-head">
                <th class="titelCell" align="center">Room/Date</th>
                @foreach (var date in Model.Dates)
                {
                    <th class="titelCell" align="center">@date</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model.RoomList)
            {
                <tr>
                    <td class="ticCell">@room.RoomName</td>
                    @foreach (var date in Model.Dates)
                    {
                        int i=0;
                        <td class="ticCell">
                        @foreach(var reservation in Model.ReservationList)
                        {
                            
                            @if (reservation != null && reservation.Room == room && reservation.Date==date)
                            {
                                
                                <div style="color: Red;">RESERVED</div>
                                i = 1;
                                break;
                            }
                        }
                        @if(i==0)
                            {
                                <div>Available</div>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</body>

